.registerLink {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
  }
  
  .registerLink a p {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .registerLink a p:hover {
    text-decoration: underline;
  }
  