.rememberForget {
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }
  
  .rememberForget label input {
    margin-right: 3px;
  }
  
  .rememberForget a {
    color: #fff;
    text-decoration: none;
  }
  
  .rememberForget a:hover {
    text-decoration: underline;
  }